<h1>{{pageName}}</h1>
<div class='container' id="usuario">
  <div class="content">
    <ul>
      <li>Nome: {{usuario.nome}}</li>
      <li>Email: {{usuario.email}}</li>
      <li *ngIf="usuario.admin">Vendedor: {{usuario.admin }}</li><br>
      <button (click)="remover(usuario)">Deletar sua conta</button>
    </ul>
  </div>
  <div class="flap"></div>

  <!-- <div id="compras">
  <h3>Minhas Compras:</h3>

  <tr *ngFor="let compra of compras">
    <td>{{compra.data}}</td>
    <td>{{compra.endereco}}</td>>
    <li *ngFor="let produto of compra.itens">
      Produto: {{produto.nome}}
      Quantidade: {{produto.quantidadeCompra}}
      Quantidade: {{produto.preco}}
    </li>
  </tr>
</div> -->

</div>