<div class = 'card'>
    <img src="{{produto.imagem}}" alt="{{produto.nome}}" style="width:100%">
<h1>{{produto.nome}}</h1>
<p class="price">{{produto.preco | currency}}</p>
<p>Disponível: {{produto.quantidadeEstoque}}</p>
<p *ngIf="!loggedRole">Quantidade: {{quantidadeCarrinho}}</p>
<p *ngIf="!loggedRole">Total: {{quantidadeCarrinho*produto.preco| currency}}</p>
<p>{{produto.descricao}}</p>

<div class="button-container">
    <button *ngIf="!loggedRole" mat-mini-fab color="warn" aria-label="Icon button with a plus one icon" (click)="plusProduct(this.produto)">
        +1
    </button>
    <button *ngIf="!loggedRole" mat-mini-fab color="warn" aria-label="Icon button with a subtract one icon"(click)="minusProduct(this.produto)">
        -1
    </button>
    <button class="adicionar-button"  *ngIf="!loggedRole"(click)="enviaItemCarrinho()">Atualizar Carrinho</button>
</div>



    <!-- <div class="card">
        <img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div> -->