<div class='carrinho' *ngIf="!loggedRole">

    <h2>Meu carrinho de compras</h2>
    <table mat-table [dataSource]="produtosClone" class="mat-elevation-z8">
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let produtoCarrinho">{{produtoCarrinho.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantidade em Estoque">
            <th mat-header-cell *matHeaderCellDef>Quantidade em Estoque</th>
            <td mat-cell *matCellDef="let produtoCarrinho">{{produtoCarrinho.quantidadeEstoque}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantidade no Carrinho">
            <th mat-header-cell *matHeaderCellDef>Quantidade no Carrinho</th>
            <td mat-cell *matCellDef="let produtoCarrinho">{{produtoCarrinho.quantidadeCompra}}</td>
        </ng-container>

        <div class="button-container">
            <ng-container matColumnDef="plus">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let produtoCarrinho">

                    <button mat-mini-fab color="warn" aria-label="Icon button with a plus one icon"
                        (click)="plusProduct(this.produtoCarrinho)">
                        +1
                    </button>

                </td>
            </ng-container>

            <ng-container matColumnDef="minus">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let produtoCarrinho">

                    <button mat-mini-fab color="warn" aria-label="Icon button with a subtract one icon"
                        (click)="minusProduct(this.produtoCarrinho)">
                        -1
                    </button>

                </td>
            </ng-container>
        </div>

        <ng-container matColumnDef="Preco">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let produtoCarrinho">{{produtoCarrinho.preco * produtoCarrinho.quantidadeCompra |
                currency}}</td>
        </ng-container>

        <ng-container matColumnDef="Ver">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let produtoCarrinho">
                <button mat-button routerLink="/produto/{{produtoCarrinho.id}}">Detalhes</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>

    </table>

    <div class="finalizar-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Total: {{total | currency}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'Fechar' : 'Abrir'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="enderecoForm">
                    <div id="endereco">
                        <label for="endereco"> Endereço: </label>
                        <input id='textboxid' type="text" id="endereco" formControlName="endereco" /><br>
                    </div>
                    <h4> Pagamento para:</h4>
                    <li>Titular: xxxxxxxxxxxxxx</li>
                    <li>Banco: xxxxxx-x</li>
                    <li>Ag: xx</li>
                    <br>
                </form>
                <button class="finalizar-button" (click)="finalizarCompra()">Finalizar</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<!-- ----------------------------------------------^---USER--------------v---VENDEDOR--------------------------------- -->

<div class='inventario' *ngIf="loggedRole">
    <h2>Inventário</h2>
    <h5>Total de produtos: {{totalProdutos}}</h5>
    <table mat-table [dataSource]="produtosEdit" class="mat-elevation-z8">
        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let produto">{{produto.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="Quantidade em Estoque">
            <th mat-header-cell *matHeaderCellDef>Quantidade em Estoque</th>
            <td mat-cell *matCellDef="let produto">{{produto.quantidadeEstoque}}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="Nova Quantidade">
            <th mat-header-cell *matHeaderCellDef>Nova Quantidade</th>
            <td mat-cell *matCellDef="let produto">{{produto.quantidadeEstoque}}</td>
        </ng-container> -->

        <ng-container matColumnDef="Preco">
            <th mat-header-cell *matHeaderCellDef>Preço atual</th>
            <td mat-cell *matCellDef="let produto">{{produto.preco | currency}}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="Novo Preco">
            <th mat-header-cell *matHeaderCellDef>Novo Preço</th>
            <td mat-cell *matCellDef="let produto">{{produto.preco | currency}}</td>
        </ng-container> -->

        <ng-container matColumnDef="Ver">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let produto">
                <button mat-button routerLink="/produto/{{produto.id}}">Detalhes</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="Editar">
            <th mat-header-cell *matHeaderCellDef>Edição</th>
            <td mat-cell *matCellDef="let produto">
                <button mat-raised-button (click)="openDialog(produto)">
                    Editar
                </button>
                <br>
                <!-- <span *ngIf="produto">
                    You choose: <i>{{produto}}</i>
                <span> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasExibidasVendedor"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasExibidasVendedor;"></tr>

    </table>

    <div class="finalizar-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Adicionar Novo Produto
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'Fechar' : 'Abrir'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="form-style-6">
                    <form [formGroup]="cadastroForm">
                        <label for="nome"> Nome: </label>
                        <input type="text" id="nome" formControlName="nome" /><br>
                        <label for="quantidadeEstoque"> Quantidade em Estoque: </label>
                        <input type="number" id="quantidadeEstoque" formControlName="quantidadeEstoque" /><br>
                        <label for="preco"> Preço: </label>
                        <input type="monetary" id="preco" formControlName="preco" required
                            ng-pattern="/([1-9][0-9]*||[0]*[1-9]+[0-9]*)/" /><br>
                        <label for="descricao"> Descrição: </label>
                        <input type="string" id="descricao" formControlName="descricao" /><br>
                        <label for="imagem"> Link Imagem: </label>
                        <input type="string" id="imagem" formControlName="imagem" /><br>
                        <br>
                        <button class="adicionar-button" (click)="adicionarProduto()">Adicionar</button>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>




<!-- <form [formGroup]="cadastroForm">
    <mat-form-field appearance="fill">
        <mat-label for="nome"> Nome: </mat-label>
        <input type="text" id="nome" formControlName="nome" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="quantidadeEstoque"> Quantidade em Estoque: </mat-label>
        <input type="number" id="quantidadeEstoque" formControlName="quantidadeEstoque" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="preco"> Preço: </mat-label>
        <input type="monetary" id="preco" formControlName="preco" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="descricao"> Descrição: </mat-label>
        <input type="string" id="descricao" formControlName="descricao" />
        <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="imagem"> Link Imagem: </mat-label>
        <input type="string" id="imagem" formControlName="imagem" />
    </mat-form-field>
    <br>
    <button class="adicionar-button" (click)="adicionarProduto()">Adicionar</button>
</form> -->